header.banner {
	position: absolute;
	top: 0;
	left:0;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #202120;
	color: white;
	overflow-x: visible;	
	width:100%;
}

header.banner:hover {
	cursor: pointer;
}

header.banner .text {    
	display: block;
    font-size:26px;
	margin-left:33%;
	width:33%;
    margin-top:1%;
    line-height:0.5;
}
