@breakpoint: 474px;
body {
    font-family:'Varela Round','sans-serif';
	margin-top: 12em;
	line-height: 1em;
	> article {
		float:left;
    	width: 700px;
		margin-left:10%;
		max-width: 700px;
	}
	.droite {
		float:left;
		width: 300px;
		margin-left:2%;
		max-width: 300px;
	}
}

h2 {
	font-size: 1.15em;
}

h3 {
	font-size: 1em;
}

a {
	font-weight: 700;
	text-decoration: none;
}

a :visited {
	text-decoration: none;
}

@import "grid.less";
@import "saisons.less";
@import "banner.less";
@import "ronds.less";
@import "liste.less";
@import "nav.less";
