.rond {
    overflow: hidden;
    border-radius: 100%;
    border:solid 2px;
    width: 10em;
    height: 10em;
    * {
        display: block;
        width: 100%;
    }
}

.petit-rond:extend(.rond) {
    width: 5em;
    height: 5em;
    * {
        display: block;
        width: 100%;
    }
}

.gros-rond:extend(.rond) {
    width:12em;
    height:12em;
    * {
        display: block;
        width: 100%;
    }
}
