extends ../../templates/fruit.jade
block fruitBlock
	- var fruit = storeFruit({"nom":"Figue","cuisine":"Figue fraîche, figue sèche, en ingrédient de plat cuisiné, en ingrédient de pâtisserie, en confiture","bienfaits":"Même si peu d‘études ont été effectuées spécifiquement sur la figue, plusieurs études prospectives et épidémiologiques ont révélé qu’une consommation élevée de fruits et de légumes diminuait le risque de maladies cardiovasculaires, de certains cancers et d’autres maladies chroniques comme le diabète de type 2. La présence d’antioxydants et de fibres dans les fruits et les légumes pourrait jouer un rôle dans ces effets protecteurs.",mois:[7,8]});
