extends default.jade
block contentBlock
	block fruitBlock
	article
		.gros-rond
			img(src="#{computeImage(fruit,true)}", onload="scale(event);")
		h1 #{fruit.nom}
		h2 En cuisine
		p
			!= fruit.cuisine
		h2 Les bienfaits
		p
			!= fruit.bienfaits