extends default.jade
block descriptionBlock
	- var description = "Découvrez tous sur " + fruit.nom
block titleBlock
	title #{fruit.nom}
block contentBlock
	article
		.gros-rond
			img(src="#{computeImage(fruit,true)}", onload="scale(event);")
		include navMois
		h1 #{fruit.nom}
		h2 En cuisine
		p
			!= fruit.cuisine
		h2 Les bienfaits
		p
			!= fruit.bienfaits

		.fb-share-button(data-href="https://www.facebook.com/legumesalabonnesaison", data-layout="button_count")
