extends default.jade
block contentBlock
	block legumeBlock
	article
		.gros-rond
			img(src="#{computeImage(legume,true)}")
		h1 #{legume.nom}
		h2 En cuisine
			p
				!= legume.cuisine
		h2 Les bienfaits
			p
				!= legume.bienfaits