extends default
include mixins/liste-mixin
block contentBlock
	block moisBlock	
	article
		h1(name="legumes") Les légumes #{insertDe(mois.titre)}#{mois.titre}
		+liste(mois.legumes)
		h1(name="fruits") Les fruits #{insertDe(mois.titre)}#{mois.titre}
		+liste(mois.fruits)
		.fb-share-button(data-href="https://www.facebook.com/legumesalabonnesaison", data-layout="button_count")
