nav.annees
	h3.col.section.group.hiver Hiver
	.saison
		h4.petit-rond.hiver
			a(href="/janvier.html") Jan
		h4.petit-rond.hiver
			a(href="/fevrier.html") Fév
		h4.petit-rond.hiver
			a(href="/mars.html") Mar
	h3.col.section.group.printemps Printemps
	.saison
		h4.petit-rond.printemps
			a(href="/avril.html") Avr
		h4.petit-rond.printemps
			a(href="/mai.html") Mai
		h4.petit-rond.printemps
			a(href="/juin.html") Juin
	h3.col.section.group.ete Eté
	.saison
		h4.petit-rond.ete
			a(href="/juillet.html") Juil
		h4.petit-rond.ete
			a(href="/aout.html") Aou
		h4.petit-rond.ete
			a(href="/septembre.html") Sep.
	h3.col.section.group.automne Automne
	.saison
		h4.petit-rond.automne
			a(href="/octobre.html") Oct.
		h4.petit-rond.automne
			a(href="/novembre.html") Nov.
		h4.petit-rond.automne
			a(href="/decembre.html") Déc.		